header {
    background-color: #17abb3;
    margin-left: 2em;
    margin-right: 2em;
    width: 1160px;
    padding: 0px;
    justify-content: center;
    height: 250px;
    display: flex;
    flex-direction: row-reverse;
}


#flexheader-infos {
    flex: auto;
    color: #ffffff;
    padding: 0px;
    width: 696px;
}

.flexheader-name {

    text-align: center;
    width: auto;
    padding-top: 15px;
}


.infos {
    display: flex;
    margin: 0px;
    padding-top: 60px;
    justify-content: space-around;
    padding: 5px 100px 5px 175px;
}
.infos2 {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    padding: 5px 100px 5px 175px;
}

#flexheader-img {
    display: flex;
    flex: auto;
    width: 250px;
    padding-top: 50px;
    justify-content: center;        
}

#img1 {
    border: 4px solid white;
    border-radius: 50%; 
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.informations {
    width: 400px;
    text-align: left;
}

.textinfos {
    font-family: "Raleway-Regular";
    font-size: 14px;
}