@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Raleway-Bold";
    src: url(../fonts/Raleway-Bold.ttf) format('truetype');
    src: url(../fonts/Raleway-Bold.woff);
}
@font-face {
    font-family: "Raleway-Italic";
    src: url(../fonts/Raleway-Italic.ttf) format('truetype');
    src: url(../fonts/Raleway-Italic.woff);
}
@font-face {
    font-family: "Raleway-Regular";
    src: url(../fonts/Raleway-Regular.ttf) format('truetype');
    src: url(../fonts/Raleway-Regular.woff);
}

main {
    width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
}

#parent1 {
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    width: 300px;
    
}

#skills {

}
#langages {


}
#quality {


}
#hobbies {
    flex: auto;
}

li {
    list-style-type: square;
}

#parent2 {
    display: flex;
    flex-direction: column;
    
}

.profil {
    padding-left: 2em;
}
span p{
    font-style:normal;
    font-family: 'Courier New', Courier, monospace;
}
.formations {
    padding-left: 2em;
}
.stages {
    padding-left: 2em;
}   
.profesionnal_experience {
    padding-left: 2em;
}

p {
    font-family: "Raleway-Regular";
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    font-style: italic;
    font-size: small;
}
