@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Raleway-Bold";
    src: url(../fonts/Raleway-Bold.ttf) format('truetype');
    src: url(../fonts/Raleway-Bold.woff);
}
@font-face {
    font-family: "Raleway-Italic";
    src: url(../fonts/Raleway-Italic.ttf) format('truetype');
    src: url(../fonts/Raleway-Italic.woff);
}
@font-face {
    font-family: "Raleway-Regular";
    src: url(../fonts/Raleway-Regular.ttf) format('truetype');
    src: url(../fonts/Raleway-Regular.woff);
}
