@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Raleway-Bold";
    src: url(../fonts/Raleway-Bold.ttf) format('truetype');
    src: url(../fonts/Raleway-Bold.woff);
}
@font-face {
    font-family: "Raleway-Italic";
    src: url(../fonts/Raleway-Italic.ttf) format('truetype');
    src: url(../fonts/Raleway-Italic.woff);
}
@font-face {
    font-family: "Raleway-Regular";
    src: url(../fonts/Raleway-Regular.ttf) format('truetype');
    src: url(../fonts/Raleway-Regular.woff);
}
h1{
    font-family: "Raleway-Bold";
    color: #ffffff;
    font-size: 2em;
    padding-bottom: 0px;
    
}
h2{
    font-family: "Raleway-Bold";
    color: #ffffff;
    font-size: 1em;
    padding: 0;
    
}
h3{
    font-family: "Raleway-Bold";
    color: #17abb3;
}
h4 {
    font-family: "Raleway-Bold";
    color: #333333;
    padding: 0;
    margin: 0;
}



footer {
    background-color: #17abb3;
    color: white;
    width: 1160px;
    height: 5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
}

.updateday {
    height: 2em;
    margin: 0px;
    padding: 0px;
    flex: auto;
}

.footerlinks {
    height: 3em;
    margin: 0px;
    padding: 0px;
    flex: auto;
}